html {line-height: 1.15;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
h1 {font-size: 2em;margin: .67em 0;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace,monospace;font-size: 1em;}
a {background-color: transparent;}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace,monospace;font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -.25em;}
sup {top: -.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: .35em .75em .625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"], [type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
body, button, input, select, optgroup, textarea {color: #404040;font-family: "Open Sans",sans-serif;font-size: 15px;line-height: 1.5;}
h1, h2, h3, h4, h5, h6 {clear: both;}
p {margin-bottom: 1.5em;}
dfn, cite, em, i {font-style: italic;}
blockquote {margin: 0 1.5em;}
address {margin: 0 0 1.5em;}
pre {background: #eee;font-family: "Courier 10 Pitch",Courier,monospace;font-size: 14.0625px;line-height: 1.6;margin-bottom: 1.6em;max-width: 100%;overflow: auto;padding: 1.6em;}
code, kbd, tt, var {font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size: 14.0625px;}
abbr, acronym {border-bottom: 1px dotted #666;cursor: help;}
mark, ins {background: #fff9c0;text-decoration: none;}
big {font-size: 125%;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {background: #fff;}
hr {background-color: #ccc;border: 0;height: 1px;margin-bottom: 1.5em;}
ul, ol {margin: 0 0 1.5em 0;}
ul {list-style: disc;padding-left: 15px;}
ol {list-style: decimal;}
li > ul, li > ol {margin-bottom: 0;margin-left: 1.5em;}
dt {font-weight: bold;}
dd {margin: 0 1.5em 1.5em;}
img {height: auto;max-width: 100%;}
figure {margin: 1em 0;}
table {margin: 0 0 1.5em;width: 100%;}
button, input[type="button"], input[type="reset"], input[type="submit"] {border: none;border-radius: 0;background: #ffb606;box-shadow: none;color: #fff;padding: 13px 20px;cursor: pointer;text-shadow: none;text-transform: uppercase;font-size: 12px;letter-spacing: 2px;}
button:hover, button:active, button:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {background: #404040;color: #fff;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {color: #404040;border: 1px solid #e3e3e3;border-radius: 3px;background: #fff;font-size: 13px;margin: 0 0 10px;padding: 12px;width: 100%;}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {color: #000;outline: none;border: 1px solid #a9a9a9;}
select {border: 1px solid #ccc;}
textarea {width: 100%;}
form label {font-size: 14px;font-weight: normal;color: #404040;margin: 5px 0;text-transform: uppercase;}
.lp-archive-courses form[name="search-course"] .search-course-button {height: 45px;top: 0;border-bottom-right-radius: 3px;border-top-right-radius: 3px;}
a {color: #404040;}
a:visited {color: #404040;}
a:hover, a:focus, a:active {color: #ffb606;}
a:focus {outline: none;}
a:hover, a:active {outline: 0;}
.main-navigation {clear: both;display: block;float: left;width: 100%;}
.main-navigation ul {list-style: none;margin: 0;padding-left: 0;}
.main-navigation ul ul {box-shadow: 0 1px 5px -1px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.3);float: left;background: #fff;position: absolute;top: 100%;left: -999em;z-index: 99999;min-width: 12em;}
.main-navigation ul ul ul {left: -999em;top: 0;}
.main-navigation ul ul li {white-space: nowrap;display: block;width: 100%;margin-top: 0;}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {left: 100%;}
.main-navigation ul ul a {text-transform: none;padding: 10px 14px;font-size: 13px;font-weight: 400;color: #404040;}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {left: auto;}
.main-navigation li {float: left;position: relative;padding: 0;margin-top: 8px;z-index: 20;}
.main-navigation li:last-child a {padding-right: 0;}
.main-navigation a {display: block;text-decoration: none;padding: 15px 15px 40px;text-transform: uppercase;font-size: 14px;font-family: "Montserrat",sans-serif;font-weight: 500;color: #404040;}
.main-navigation a:hover {color: #ffb606;}
.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {color: #ffb606;}
.nav-form {background: rgba(0,0,0,0);position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;transition: all .5s;height: 100%;visibility: hidden;}
.nav-form .nav-content {z-index: 999;transition: all .5s;margin-left: -500px;position: absolute;height: 100%;width: 280px;padding: 0;background: #fff;}
.nav-form.open .nav-content {margin-left: 0;}
.nav-form .nav-spec {height: 100%;padding: 40px 0 0;overflow: scroll;}
.nav-menu {width: 100%;}
.nav-menu ul {margin: 0;padding: 0;list-style: none;}
.nav-menu ul li {position: relative;}
.nav-menu ul li a {text-transform: uppercase;color: #000;font-size: 15px;padding: 15px 20px;display: block;width: 100%;border-bottom: 1px solid #eaeaea;text-decoration: none;text-align: left;}
.nav-menu ul li a:hover, .nav-menu ul li.current-menu-item a {color: #ffb606;}
.nav-menu ul.sub-menu {display: none;}
.nav-menu ul.sub-menu a {padding-left: 30px;}
.nav-menu ul li.menu-item-has-children > span.arrow {position: absolute;top: 10px;right: 15px;display: inline-block;padding: 5px 10px;}
.nav-menu ul li.menu-item-has-children > span.arrow::before {content: "";font-size: 15px;cursor: pointer;font-family: "FontAwesome";}
.nav-menu ul li.menu-item-has-children > span.arrow.active::before {content: "";}
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {margin: 0 0 1.5em;overflow: hidden;}
.comment-navigation a, .posts-navigation a, .post-navigation a {background: #ffb606;color: #fff;border: 2px solid transparent;border-radius: 2px;padding: 10px 15px;display: inline-block;line-height: 1;}
.comment-navigation a:hover, .posts-navigation a:hover, .post-navigation a:hover {text-decoration: none;color: #404040;border-color: #ffb606;background: transparent;}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {float: left;width: 50%;}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {float: right;text-align: right;width: 50%;}
.widget {margin: 0 0 2em;}
.widget select {max-width: 100%;}
.widget-area .widget-title {position: relative;font-size: 14px;text-transform: uppercase;font-weight: 700;line-height: 40px;margin: 0 0 20px;letter-spacing: 1px;}
.widget-area .widget-title::after {content: "";height: 2px;width: 50px;display: block;background-color: #ffb606;}
.widget-area ul li {margin-bottom: 7px;}
.widget_tag_cloud a {font-size: 13px !important;color: #aaa;display: inline-block;padding: 5px 9px;margin: 0 5px 5px 0;border: 1px solid #f5f5f5;background-color: #f0f2f5;}
.widget_tag_cloud a:hover {border-color: #ffb606;color: #fff;background-color: #ffb606;text-decoration: none;}
.theme-posts-widget li {padding: 10px 0 13px;margin-bottom: 5px;clear: both;overflow: hidden;}
.theme-posts-widget li:first-child {padding-top: 0;}
.theme-posts-widget li .p-thumbnail {max-width: 60px;float: left;}
.theme-posts-widget li .p-info {display: block;float: left;margin-left: 15px;width: calc(100% - 75px);}
.theme-posts-widget li .p-info h3 {font-size: 14px;line-height: 1.4;}
.theme-posts-widget li .p-info span {display: block;font-size: 12px;color: #aaa;}
.theme-posts-widget li .course-price {display: inline-block;vertical-align: top;}
.theme-posts-widget li .course-price .price {min-width: 47px;padding: 4px;color: #fff;text-align: center;background-color: #03a9f4;border-radius: 3px;font-size: 12px;font-weight: 100;text-transform: none;line-height: 12px;}
.theme-posts-widget li .course-price .origin-price {font-size: 12px;}
.theme-posts-widget li .course-review {display: inline-block;vertical-align: bottom;}
.theme-posts-widget li .course-review label {display: none;}
.theme-posts-widget li .course-review .review-stars-rated .review-stars li {padding: 0;}
.theme-posts-widget li .course-review .review-stars-rated .review-stars.filled:before {content: "";}
.theme-posts-widget li .course-review .review-stars-rated .review-stars.empty, .theme-posts-widget li .course-review .review-stars-rated .review-stars.filled {font-size: 0;}
.search-form {position: relative;}
.search-form label {width: 100%;margin: 0;}
.search-form .search-submit {position: absolute;top: 0;right: 0;padding: .55em 1em;width: auto;border-radius: 4px;color: #ffb606;font-size: 17px;background: transparent;}
.lp-widget .lp-course-info-fields {padding-left: 0;}
@media (min-width: 1200px) {.container {max-width: 1230px;}}
#page {transition: margin-left .5s;overflow: hidden;}
.site-title {margin: 10px 0 5px;color: #404040;font-family: "Montserrat",sans-serif;text-transform: uppercase;font-size: 20px;font-weight: 700;letter-spacing: 1px;line-height: 1;}
.site-title a {color: #404040;text-decoration: none;}
.site-title a:hover {color: #404040;}
.site-branding {position: relative;z-index: 99;}
.site-branding div {float: left;}
.site-branding .site-logo {max-width: 90px;margin-right: 10px;}
.site-description {margin: 0;font-size: 12px;color: #404040;}
.site-content {position: relative;overflow: hidden;}
#main, #secondary {padding-top: 50px;padding-bottom: 50px;}
#main {border-right: 1px solid #e1e2e4;padding-right: 25px;}
.sidebar-inner {padding-left: 10px;}
.full-width #main, .no-sidebar #main {border: none;padding-right: 15px;}
.single.left-sidebar #main {border-left: 1px solid #e1e2e4;padding-left: 25px;border-right: none;padding-right: 0;}
.single.left-sidebar .sidebar-inner {padding-right: 10px;padding-left: 0;}
.topbar {font-style: normal;color: #aaa;font-size: 12px;background: #111;position: relative;z-index: 99;}
.topbar .widget_text {float: left;}
.topbar .topbar-right {text-align: right;}
.topbar ul {list-style: none;padding: 0;margin: 11px 0 12px;}
.topbar ul li {display: inline-block;margin-right: 15px;margin-bottom: 0;line-height: 14px;}
.topbar ul li a {color: white;font-size: 12px;}
.topbar ul li i {font-size: 14px;margin-right: 5px;}
.topbar .header_login_url {margin: 11px 0 12px 40px;line-height: 1;}
.topbar .header_login_url a {display: inline-block;vertical-align: bottom;text-decoration: none;line-height: 1;color: #aaa;}
.topbar .header_login_url a:hover {color: #fff;}
.topbar .header_login_url a i {font-size: 14px;margin-right: 10px;}
.topbar .header_login_url .vertical_divider {display: inline-block;vertical-align: bottom;margin: 0 8px 0;width: 1px;height: 12px;background-color: #9a9a9a;}
.header-default {padding: 20px 0 0;background: #fff;box-shadow: 0px 5px 10px 0px rgba(50,50,50,.06);}
.header-default .main-navigation ul {float: right;}
.cart-contents {font-size: 12px;color: #fff;margin: 0 2px;display: block;cursor: pointer;z-index: 1;position: relative;border-left: 1px solid white;padding-left: 10px;width: auto !important;}
.cart-contents .sp-count {background: #fff;color: #000;display: inline-block;width: 15px;height: 15px;text-align: center;line-height: 15px;border-radius: 100%;font-size: 12px;position: absolute;top: -10px;left: 13px;}
.titlebar {padding: 5% 0;background-color: #457992;text-align: center;position: relative;}
.titlebar::after {position: absolute;content: "";top: 0;left: 0;width: 100%;height: 100%;z-index: 1;background: rgba(0,0,0,.5);}
.titlebar .container {position: relative;z-index: 10;}
.titlebar .header-title {font-size: 50px;color: #fff;font-family: "Montserrat";font-weight: 700;text-transform: uppercase;margin-top: 0;margin-bottom: 10px;}
.titlebar .archive-description p {color: #fff;font-size: 18px;margin-bottom: 1em;}
.titlebar .triangled_colored_separator {width: 50px;display: inline-block;margin: 0 auto;height: 2px;background: #ffb606;}
.breadcrumbs {background-color: #f6f6f6;padding: 13px 0;line-height: 1;margin: 0;border-top: 1px solid #f0f2f5;border-bottom: 1px solid #f0f2f5;color: #999;font-size: 12px;}
.breadcrumbs span {color: #999;margin-right: 7px;margin-left: 7px;}
.breadcrumbs span span {margin-right: 0;margin-left: 0;}
.breadcrumbs span:first-child {margin-left: 0;}
.breadcrumbs a:hover {text-decoration: none;}
.breadcrumbs a:hover span {color: #ffb606;}
.sticky {display: block;}
.hentry {margin: 0 0 3.5em;}
.updated:not(.published) {display: none;}
.page-content, .entry-content, .entry-summary {margin: 1.5em 0 0;clear: both;}
.page-links {clear: both;margin: 0 0 1.5em;}
.blog-content .page-header {margin-top: 0;}
.blog .entry-header, .archive .entry-header, .search .entry-header {overflow: hidden;}
.blog .entry-header .entry-date, .archive .entry-header .entry-date, .search .entry-header .entry-date {font-size: 60px;font-weight: 700;height: 85px;width: 95px;float: left;line-height: 60px;color: #ffb606;position: relative;}
.blog .entry-header .entry-date:after, .archive .entry-header .entry-date:after, .search .entry-header .entry-date:after {content: "";position: absolute;width: 1px;top: 4px;right: 0;bottom: 5px;background: #eee;}
.blog .entry-header .entry-date i, .archive .entry-header .entry-date i, .search .entry-header .entry-date i {font-size: 13px;text-transform: uppercase;font-style: normal;font-weight: 700;display: block;line-height: 20px;margin-top: 3px;}
.blog .entry-header .entry-contain, .archive .entry-header .entry-contain, .search .entry-header .entry-contain {position: relative;padding-left: 30px;width: calc(100% - 95px);width: -webkit-calc(100% - 95px);width: -moz-calc(100% - 95px);float: right;}
.entry-meta a {color: #404040;}
.entry-meta span {margin-right: 20px;font-size: 14px;display: inline-block;}
.entry-meta span i {color: #ffb606;margin-right: 5px;}
.entry-meta span span {margin-right: 0;}
.single .entry-meta, .archive .entry-meta {margin-bottom: 1.5em;}
body #content .entry-footer {display: block;}
body #content .entry-footer .social-share li a {color: #999;width: 30px;height: 30px;line-height: 30px;display: inline-block;border: 1px solid #999;border-radius: 50%;text-align: center;font-size: 14px;cursor: pointer;}
body #content .entry-footer .social-share li a:hover {color: #fff;}
body #content .entry-footer .social-share li div.facebook-social a:hover {border-color: #3b5998;background-color: #3b5998;}
body #content .entry-footer .social-share li div.googleplus-social a:hover {border-color: #dd4b39;background-color: #dd4b39;}
body #content .entry-footer .social-share li div.twitter-social a:hover {border-color: #00aced;background-color: #00aced;}
body #content .entry-footer .social-share li div.pinterest-social a:hover {border-color: #cb2027;background-color: #cb2027;}
.entry-title {font-size: 30px;font-weight: 500;line-height: 34px;margin: 0 0 7px;}
.entry-title a {color: #404040;}
.entry-title a:hover {color: #ffb606;text-decoration: none;}
h1.entry-title {margin-bottom: 15px;}
.readmore a {background: none;color: #404040;border: 2px solid #404040;border-radius: 2px;padding: 10px 15px;display: inline-block;line-height: 1;}
.readmore a:hover {text-decoration: none;color: #404040;border-color: #ffb606;background: transparent;}
.comment-content a {word-wrap: break-word;}
.bypostauthor {display: block;}
.comment-list {margin: 0;padding: 0;list-style: none;}
.comment-list li {margin: 30px 0;padding-bottom: 30px;border-bottom: 1px solid #e6e6e6;}
.comment-list li .avatar {border-radius: 3px;float: left;width: 60px;}
.comment-list li .comment-wrapper {background: #f8f9f9 none repeat scroll 0 0;margin-left: 6em;padding: 20px;position: relative;}
.comment-list li .comment-wrapper::before {border-color: transparent #f6f7f9 transparent transparent;border-style: solid;border-width: 0 10px 10px 0;content: "";height: 0;left: -9px;position: absolute;top: 0;width: 0;}
.comment-list li .comment-wrapper .comment-meta {margin-bottom: 20px;}
.comment-list li .comment-wrapper .comment-meta a {text-decoration: none;}
.comment-list li .comment-wrapper .comment-actions i {padding-left: 10px;font-size: 13px;}
.comment-list li ul, .comment-list li ol {margin-bottom: 0;margin-left: 1.5em;list-style: none;}
.comment-list li li {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.comment-respond input.submit {width: auto;}
.search .page-header .page-title {margin-bottom: 0;}
.site-footer {background: #111;color: #999;padding-top: 25px;font-size: 13px;}
.site-footer .footer-widgets {padding-top: 50px;padding-bottom: 50px;}
.site-footer .widget-title {position: relative;font-size: 14px;text-transform: uppercase;font-weight: 700;line-height: 40px;color: #fff;margin: 0 0 15px;letter-spacing: 1px;}
.site-footer .copyright-area {padding-bottom: 20px;padding-top: 20px;border-top: 1px solid #222;line-height: 30px;}
.site-footer .copyright-area span {color: #ffb606;}
.site-footer .copyright-area ul {margin-bottom: 0;}
.site-footer .copyright-area ul li {display: inline-block;padding-right: 5px;padding-left: 5px;}
.site-footer .copyright-area a:hover {color: #999;text-decoration: underline;}
.site-footer a {color: #999;line-height: 30px;}
.site-footer a:hover {text-decoration: none;color: #ffb606;}
.site-footer .footer-social {float: left;padding: 10px 18px;color: #fff;background: #ffb606;margin-top: -41px;position: relative;}
.site-footer .footer-social::after {border-right: 9px solid #777;border-top: 16px solid transparent;content: "";display: block;height: 0;left: -9px;position: absolute;top: 0;}
.site-footer .footer-social label {font-size: 13px;margin-right: 10px;color: #fff;font-weight: normal;}
.site-footer .footer-social a {color: #fff;margin-right: 3px;}
.site-footer .footer-social a:hover i {color: #404040;border-color: #404040;}
.site-footer .footer-social a i {padding: 0;border-radius: 50%;font-size: 13px;line-height: 25px;height: 25px;width: 25px;text-align: center;border: 1px solid #fff;color: #fff;}
.contact-info-item {margin-bottom: 10px;}
.contact-info-item .contact-text {display: block;float: left;width: 30px;font-size: 14px;text-transform: uppercase;letter-spacing: 1px;margin-top: 2px;position: relative;}
.contact-info-item .contact-text i {font-size: 16px;}
.contact-info-item .contact-value {display: block;margin-left: 35px;}
.contact-info-box ul {list-style: none;margin-left: 0;padding-left: 0;}
.contact-info-box ul li {padding: 8px 0;border-top: 1px dotted rgba(255,255,255,.1);}
.contact-info-box ul li:first-child {border-top: 0;}
.contact-info-box ul li span {float: right;font-weight: bold;}
.post-type-archive-lp_course #content .no-sidebar {padding-right: 15px;border: none;}
ul.learn-press-courses.row {margin-right: -15px;margin-left: -15px;}
ul.learn-press-courses.row li {margin-bottom: 30px;}
#lms-course-grid .course-description, #lms-course-grid .course-readmore {display: none;}
#lms-course-list [class^='col-lg'] {width: 100%;max-width: 100%;flex: 100%;}
#lms-course-list [class^='col-lg'] .course-item {overflow: hidden;padding-bottom: 30px;border-bottom: 1px solid #e3e3e3;}
#lms-course-list [class^='col-lg'] .course-thumbnail {width: 30%;float: left;}
#lms-course-list [class^='col-lg'] .course-content {width: 70%;float: left;text-align: left;border: none;padding-left: 30px;}
#lms-course-list [class^='col-lg'] .course-content .course-author {display: none;}
#lms-course-list [class^='col-lg'] .course-content .course-meta {margin-left: 0;padding-left: 0;padding-right: 0;border: none;}
#lms-course-list [class^='col-lg'] .course-content .course-meta .pull-left {display: none;}
#lms-course-list [class^='col-lg'] .course-content .course-meta .course-price {float: left !important;margin-top: 7px;}
#lms-course-list [class^='col-lg'] .course-content .course-meta .course-readmore {float: right;font-weight: 600;text-transform: uppercase;font-size: 12px;border: 1px solid #000;padding: 10px 15px 9px;line-height: 1;}
#lms-course-list [class^='col-lg'] .course-content .course-meta .course-readmore:hover {text-decoration: none;}
#lms-course-list [class^='col-lg'] .course-content h2.course-title {font-size: 22px;font-weight: bold;}
#lms-course-list [class^='col-lg'] .course-content h2.course-title a:hover {text-decoration: none;}
.single-lp_course .course-thumbnail {margin-bottom: 30px;}
.single-lp_course .course-meta {display: block;overflow: hidden;position: relative;padding: 0;margin-bottom: 30px;}
.single-lp_course .course-meta label {font-size: 12px;font-weight: 700;color: #ccc;margin-bottom: 0;}
.single-lp_course .course-meta > div {line-height: 20px;margin-right: 15px;margin-bottom: 0;padding-right: 15px;color: #ccc;border-right: 1px solid #eee;float: left;}
.single-lp_course .course-meta > div:last-child {border-right: 0;}
.single-lp_course .course-meta > div .value {font-size: 12px;text-transform: uppercase;font-weight: 700;color: #7a7a7a;line-height: 16px;}
.single-lp_course .course-meta > div a {color: #7a7a7a;}
.single-lp_course .course-meta .course-author img {border-radius: 50%;width: 40px;height: auto;float: left;margin-right: 10px;}
.single-lp_course .course-meta .course-author .author-contain {display: inline-block;}
.single-lp_course .course-meta .course-review .review-stars-rated {margin-top: 1px;}
.single-lp_course .course-meta .course-review .review-stars-rated .filled {font-size: 0;}
.single-lp_course .course-price .origin-price {font-size: 18px;text-decoration: line-through;font-style: italic;}
.single-lp_course .course-price .price {color: #f24c0a;font-size: 30px;font-weight: 700;margin-right: 0;display: inline-block;}
.single-lp_course .course-info {border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;margin-left: 0;margin-right: 0;margin-bottom: 30px;}
.single-lp_course .course-info li {padding: 5px 10px;text-align: center;}
.single-lp_course .course-info li i {color: #ffb606;margin-right: 5px;}
.single-lp_course .lp-single-course .course-meta {display: none;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs {border: none;background: #eaeaea;margin-bottom: 30px;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs a {text-decoration: none;padding: 10px 30px;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs li {text-align: center;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs li:after {height: 0;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs .course-nav.active, .single-lp_course .lp-single-course ul.learn-press-nav-tabs .course-nav:hover {background: #ffb606;}
.single-lp_course .lp-single-course ul.learn-press-nav-tabs .course-nav.active a, .single-lp_course .lp-single-course ul.learn-press-nav-tabs .course-nav:hover a {color: #fff;}
.single-lp_course .lp-single-course .course-curriculum ul.curriculum-sections .section-header {border-bottom-color: #ffb606;}
.single-lp_course .lp-single-course .course-curriculum .section-content .course-item .section-item-link:hover {text-decoration: none;}
.single-lp_course .lp-single-course .course-rate .review-bar .rating {background: #ffb606;}
.single-lp_course .lp-single-course .course-reviews-list, .single-lp_course .lp-single-course .course-reviews-list-shortcode {padding-left: 0;}
.single-lp_course .lp-single-course .course-reviews-list li, .single-lp_course .lp-single-course .course-reviews-list-shortcode li {border: none;background: #f8f9f9;}
.single-lp_course .lp-single-course .course-reviews-list li .review-author-info, .single-lp_course .lp-single-course .course-reviews-list-shortcode li .review-author-info {float: left;}
.single-lp_course .lp-single-course .course-reviews-list li .review-author-info img, .single-lp_course .lp-single-course .course-reviews-list-shortcode li .review-author-info img {border-radius: 3px;max-width: 70px;}
.single-lp_course .lp-single-course .course-reviews-list li .review-author-info .user-name, .single-lp_course .lp-single-course .course-reviews-list-shortcode li .review-author-info .user-name {margin: 0 0 5px 0;}
.single-lp_course .lp-single-course .course-reviews-list li .review-author-info .review-title, .single-lp_course .lp-single-course .course-reviews-list-shortcode li .review-author-info .review-title {margin-top: 0;}
.single-lp_course .lp-single-course .course-reviews-list li .review-text, .single-lp_course .lp-single-course .course-reviews-list-shortcode li .review-text {float: left;width: 100%;clear: both;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author {margin-bottom: 30px;padding-bottom: 30px;border-bottom: 1px solid #eaeaea;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author:last-child {border-bottom: none;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-name {width: 100%;text-align: left;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-name img {float: left;width: 100px;height: 100px;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-name .socials {margin-left: 120px;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-name .socials a {font-weight: bold;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-name .socials a:hover {text-decoration: none;}
.single-lp_course .lp-single-course #learn-press-course-tabs .course-tab-panel .course-author .author-bio {margin-top: 15px;}
.lp-user-profile .lp-sub-menu {padding-left: 0;}
.lp-user-profile ul.learn-press-courses.profile-courses-list {margin-right: -15px;margin-left: -15px;}
.learnpress .learn-press-pagination .page-numbers > li a, .learnpress .learn-press-pagination .page-numbers > li span {padding: 10px 15px;text-decoration: none;}
.learnpress .learn-press-pagination .page-numbers > li span {background-color: #ffb606;border-color: #ffb606;color: #fff;}
.course-results {display: inline-block;color: #999;font-size: 13px;font-style: italic;line-height: 34px;margin-left: 10px;}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.custom-logo-link {display: inline-block;}
.wp-caption {margin-bottom: 1.5em;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto;}
.wp-caption .wp-caption-text {margin: .8075em 0;}
.wp-caption-text {text-align: center;}
.gallery {margin-bottom: 1.5em;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 50%;}
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item {max-width: 25%;}
.gallery-columns-5 .gallery-item {max-width: 20%;}
.gallery-columns-6 .gallery-item {max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%;}
.gallery-columns-8 .gallery-item {max-width: 12.5%;}
.gallery-columns-9 .gallery-item {max-width: 11.11%;}
.gallery-caption {display: block;}
.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
.alignwide {width: 100vw;max-width: 100%;position: relative;left: 50%;transform: translateX(-50%);clear: both;}
.alignfull {margin-left: calc(50% - 50vw);margin-right: calc(50% - 50vw);width: auto;max-width: 1000%;float: left;}
.wp-block-image.alignfull img {width: 100vw;}
.wp-block-video video {max-width: 636px;}
.wp-block-image img {display: block;}
.wp-block-image.alignleft, .wp-block-image.alignright {width: 100%;}
.wp-block-gallery:not(.components-placeholder) {margin: 1.5em auto;}
.wp-block-cover-text p {padding: 1.5em 14px;}
ul.wp-block-latest-posts.alignwide, ul.wp-block-latest-posts.alignfull, ul.wp-block-latest-posts.is-grid.alignwide, ul.wp-block-latest-posts.is-grid.alignwide {padding: 0 14px;}
.wp-block-table {display: block;overflow-x: auto;}
.wp-block-table table {border-collapse: collapse;width: 100%;}
.wp-block-table td, .wp-block-table th {padding: .5em;}
.wp-block-embed.type-video > .wp-block-embed__wrapper {position: relative;width: 100%;height: 0;padding-top: 56.25%;}
.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {position: absolute;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;}
.wp-block-quote.is-large {margin: 0 auto 16px;}
.wp-block-pullquote > p:first-child {margin-top: 0;}
.wp-block-separator {margin: 3em auto;padding: 0;}
.screen-reader-text {border: 0;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute !important;width: 1px;word-wrap: normal !important;}
.screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;clip-path: none;color: #21759b;display: block;font-size: 13.125px;font-weight: bold;height: auto;left: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
#content[tabindex="-1"]:focus {outline: 0;}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {content: "";display: table;table-layout: fixed;}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {clear: both;}
.mobile-menu {display: none;float: right;font-size: 15px;color: #000;position: relative;top: 30px;z-index: 99;cursor: pointer;}
.mobile-menu.nav-is-visible {display: block;top: -10px;right: 10px;}
.mobile-menu.nav-is-visible span {background: transparent;}
.mobile-menu.nav-is-visible span:before {-webkit-transform: translateX(4px) translateY(-1px) rotate(45deg);-moz-transform: translateX(4px) translateY(-1px) rotate(45deg);-ms-transform: translateX(4px) translateY(-1px) rotate(45deg);-o-transform: translateX(4px) translateY(-1px) rotate(45deg);transform: translateX(4px) translateY(-1px) rotate(45deg);}
.mobile-menu.nav-is-visible span:after {-webkit-transform: translateX(4px) translateY(0px) rotate(-45deg);-moz-transform: translateX(4px) translateY(0px) rotate(-45deg);-ms-transform: translateX(4px) translateY(0px) rotate(-45deg);-o-transform: translateX(4px) translateY(0px) rotate(-45deg);transform: translateX(4px) translateY(0px) rotate(-45deg);}
.mobile-menu span {position: absolute;top: 50%;right: 5px;margin-top: -2px;-webkit-transition: rotate .2s,translate .2s;-moz-transition: rotate .2s,translate .2s;transition: rotate .2s,translate .2s;display: inline-block;height: 3px;width: 24px;background: #000;}
.mobile-menu span::before, .mobile-menu span::after {position: absolute;display: inline-block;height: 3px;width: 24px;background: #000;content: "";right: 0;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform-origin: 0% 50%;-moz-transform-origin: 0% 50%;-ms-transform-origin: 0% 50%;-o-transform-origin: 0% 50%;transform-origin: 0% 50%;-webkit-transition: -webkit-transform .2s;-moz-transition: -moz-transform .2s;transition: transform .2s;}
.mobile-menu span:before {top: -8px;}
.mobile-menu span:after {top: 8px;}
@media (max-width: 1023px) {#mobile-open {display: block;height: 25px;width: 24px;position: relative;top: 14px;right: 0px;}
	.nav-form.open {background: rgba(0,0,0,.8);visibility: visible;}
	#site-navigation {display: none;}
	.header-default {padding: 10px 0;}
	.header-default #mobile-open {top: -40px;}
	.header-bottom .header-socials {width: auto;}
	.header-type3 #mobile-open, .header-type2 #mobile-open {float: left;top: 14px;}
	.header-type3 #mobile-open span, .header-type2 #mobile-open span {left: 0;background: white;}
	.header-type3 #mobile-open span::before, .header-type3 #mobile-open span::after, .header-type2 #mobile-open span::before, .header-type2 #mobile-open span::after {background: white;}
	.header-type3 #mobile-open.nav-is-visible, .header-type2 #mobile-open.nav-is-visible {left: 0;}
	.header-type3 #mobile-open.nav-is-visible span, .header-type2 #mobile-open.nav-is-visible span {background: transparent;}
	.header-type4 .logo-mobile {display: block;}
	.header-4 .nav-menu ul li.site-logo {display: none;}}
@media (max-width: 768px) {.course-results {display: none;}
	.switch-layout-container .learn-press-search-course-form {width: 80%;}}
@media (max-width: 590px) {.header-top .header-contact-wrapper {float: none;}
	.header-top .header-contact-wrapper li {width: 100%;margin-right: 0;margin-bottom: 15px;margin-left: 0;text-align: center;}
	.header-top .header-contact-wrapper li .box-text {float: left;}
	#lms-course-list [class^='col-lg'] .course-thumbnail {width: 100%;}
	#lms-course-list [class^='col-lg'] .course-content {width: 100%;padding: 0;}
	#lms-course-list [class^='col-lg'] .course-content .course-meta {margin: 0;}}
@media (max-width: 499px) {.titlebar .header-title {font-size: 30px;}
	.single-lp_course .course-meta > div {width: 100%;margin-right: 0;margin-bottom: 15px;}
	.feature-slider .slick-slide .feature-slide-inner .feature-slide-content h2.feature-slide-heading {font-size: 30px !important;}
	#lms-course-list li.col-md-4 .course-thumbnail {width: 100%;margin-bottom: 15px;}
	#lms-course-list li.col-md-4 .course-content {width: 100%;padding-left: 0;}
	.switch-layout-container .learn-press-search-course-form {width: calc(100% - 70px);}
	.header-type3 .header-bottom a.nav-btn-right {margin-right: -15px;}
	.course-grid-layout2 .intro-item .all-course {position: relative !important;padding: 30px;}
	.carousel-wrapper .btn-view-all {text-align: center !important;}
	.carousel-wrapper .btn-view-all a.btn-all-courses {margin-top: 0;margin-bottom: 10px;}
	.carouse-grid .course-grid-box {margin-top: 5px !important;}}
.slick-prev, .slick-next {font-size: 0;line-height: 0;position: absolute;top: 50%;display: block;width: 50px;height: 50px;text-align: center;padding: 0;z-index: 1;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);cursor: pointer;color: transparent;border: none;outline: none;outline: none;background: rgba(0,0,0,.1);}
.slick-prev::before, .slick-next::before {font-family: FontAwesome;font-size: 40px;line-height: 1;opacity: .75;color: #fff;margin: 0 auto;display: block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.slick-prev:hover, .slick-next:hover {background: rgba(0,0,0,.4);}
.slick-prev {left: 20px;}
.slick-prev::before {content: "";}
.slick-next {right: 20px;}
.slick-next::before {content: "";}
.feature-slider .slick-slide {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;position: relative;overflow: hidden;height: 400px;}
.feature-slider .slick-slide .feature-slide-bg {position: relative;background-size: cover;background-position: 50%;background-repeat: no-repeat;min-width: 100%;min-height: 100%;-webkit-transition-property: -webkit-transform;transition-property: -webkit-transform;transition-property: transform;transition-property: transform,-webkit-transform;-o-transition-property: transform;-webkit-transition-duration: 10s;-o-transition-duration: 10s;transition-duration: 10s;}
.feature-slider .slick-slide .feature-slide-bg::after {position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: "";background: rgba(0,0,0,.35);}
.feature-slider .slick-slide .slick-slide.slick-active .feature-slide-bg {-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-duration: 20s;animation-duration: 20s;}
.feature-slider .slick-dots {position: absolute;bottom: 100px;left: 50%;right: 50%;list-style: none;margin: 0;padding: 0;}
.feature-slider .slick-dots li {margin-right: 5px;}
.feature-slider .slick-dots li:first-child {float: left;}
.feature-slider .slick-dots li.slick-active button {background: #fff;}
.feature-slider .slick-dots button {width: 15px;height: 15px;line-height: 15px;padding: 0;border-radius: 50px;text-align: center;color: transparent;outline: none;}
.feature-slider .feature-slide-inner {background-repeat: no-repeat;background-position: 50%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;padding: 0;color: #fff;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;text-align: center;}
.feature-slider .feature-slide-inner .feature-slide-content {position: relative;z-index: 1;width: 100%;max-width: 59%;}
.feature-slider .feature-slide-inner .feature-slide-content h2.feature-slide-heading {text-transform: uppercase;color: white;font-size: 45px;font-weight: 700;font-family: "Montserrat",sans-serif;letter-spacing: 2px;margin-top: 0;}
.feature-slider .feature-slide-inner .feature-slide-content p {font-size: 18px;color: white;font-weight: 400;font-family: "Montserrat",sans-serif;}
.feature-slider .feature-slide-inner .feature-slide-content a.slide-button {background: #ffb606;border: 2px solid transparent;border-radius: 0;min-width: 144px;padding: 8px 14px;font-size: 13px;text-transform: uppercase;font-weight: 600;color: #fff;font-family: "Montserrat",sans-serif;}
.feature-slider .feature-slide-inner .feature-slide-content a.slide-button:hover {background: transparent !important;border-color: #ffb606;color: #fff;}
.course-item .course-thumbnail {position: relative;margin: 0;overflow: hidden;width: 100%;height: 100%;}
.course-item .course-thumbnail a {display: block;width: 100%;}
.course-item .course-thumbnail .origin-price {display: none;}
.course-item .course-thumbnail .price {min-width: 76px;position: absolute;top: 15px;left: 0;display: inline-block;padding: 11px 15px;color: #fff;background-color: #ffb606;text-align: center;line-height: 1;border-top-right-radius: 3px;border-bottom-right-radius: 3px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;z-index: 11;}
.course-item .course-thumbnail img {display: block;position: relative;-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
.course-item .course-thumbnail:hover img {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.course-item .course-content {border: 1px solid #e5e5e5;border-top: 0;padding: 0 15px;text-align: center;}
.course-item .course-content .course-title {font-size: 16px;color: #404040;margin: 11px 0 22px;line-height: 25px;}
.course-item .course-content .course-author {margin-top: 0;position: relative;margin-bottom: 0;}
.course-item .course-content .course-author img {margin-top: -28px;border-radius: 50%;max-width: 50px;border: 2px solid #fff;position: relative;z-index: 3;display: inline-block;}
.course-item .course-content .course-author .value {font-size: 13px;font-weight: 400;text-transform: capitalize;margin-top: 7px;color: #848484;}
.course-item .course-content .course-meta {padding: 10px 13px 7px;border-top: 1px solid #e5e5e5;border-bottom: 0;font-weight: 400;margin: 0 -15px;}
.course-item .course-content .course-meta .value {display: inline-block;color: #848484;margin-right: 10px;vertical-align: top;font-size: 13px;}
.course-item .course-content .course-meta .value i {margin-right: 3px;}
.course-item .course-content .course-meta .course-review .value {margin: 3px 0 0 0;}
.course-review .review-stars-rated {position: relative;display: inline-block;height: 16px;line-height: 16px;width: 80px;float: left;}
.course-review .review-stars-rated .review-stars {margin: 0;padding: 0;display: inline-block;list-style: none;line-height: 16px;height: 16px;float: left;font-size: 0;}
.course-review .review-stars-rated .review-stars li {width: 16px;height: 16px;display: inline-block;float: none;margin-bottom: 0;}
.course-review .review-stars-rated .review-stars li span {font-size: 13px;width: auto;height: auto;border-bottom: 0;text-decoration: none;color: #ffb606;}
.course-review .review-stars-rated .filled {position: absolute;top: 0;left: 0;z-index: 10;white-space: nowrap;overflow: hidden;color: #f05a19;height: 40px;}
.course-review .review-stars-rated .filled li {position: static;}
.carousel-wrapper h2.title {text-transform: uppercase;line-height: 40px;font-size: 30px;font-weight: 700;font-family: "Montserrat",sans-serif;margin: 0 0 40px;padding-bottom: 20px;position: relative;}
.carousel-wrapper h2.title::after {position: absolute;content: "";display: block;height: 1px;width: 50px;background: #ffb606;bottom: 0;}
.carousel-wrapper .slick-arrow {top: -55px;right: 15px;background: transparent;border: 1px solid #000;width: 30px;height: 30px;}
.carousel-wrapper .slick-arrow:hover {border-color: #ffb606;}
.carousel-wrapper .slick-arrow:hover:before {color: #ffb606;}
.carousel-wrapper .slick-arrow::before {color: #000;font-size: 16px;}
.carousel-wrapper .slick-prev {left: auto;right: 55px;}
a.btn-all-courses {border: 2px solid #ffb606;border-radius: 0;margin-top: 22px;}
a.btn-all-courses:hover {background: #ffb606;color: #fff;}
.carouse-grid .course-grid-box:nth-child(3), .carouse-grid .course-grid-box:nth-child(4) {margin-top: 23px;}
.carouse-grid .course-grid-box .course-holder {position: relative;padding-bottom: 76%;background-color: #495057;overflow: hidden;border-radius: 0;-webkit-transition: all .3s ease;transition: all .3s ease;}
.carouse-grid .course-grid-box .course-holder:hover {-webkit-box-shadow: 0 24px 50px 3px rgba(0,0,0,.2);box-shadow: 0 24px 50px 3px rgba(0,0,0,.2);}
.carouse-grid .course-grid-box .course-holder:hover .course-bg {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);opacity: .7;}
.carouse-grid .course-grid-box .course-holder:hover .info-on-hover .course-title {-webkit-transform: translateY(0);transform: translateY(0);}
.carouse-grid .course-grid-box .course-holder:hover .info-on-hover .course-price {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);}
.carouse-grid .course-grid-box .course-holder .course-holder-inner, .carouse-grid .course-grid-box .course-holder a.course_link {position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 20;}
.carouse-grid .course-grid-box .course-holder .course-bg {height: 100%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;display: block;background-size: cover;background-repeat: no-repeat;background-position: center;width: calc(100% + 40px);max-width: none;min-height: 100.6%;-webkit-transition: opacity .3s ease,-webkit-transform .3s ease;transition: opacity .3s ease,-webkit-transform .3s ease;transition: opacity .3s ease,transform .3s ease;transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;-webkit-transform: translate3d(-30px,0,0);transform: translate3d(-30px,0,0);}
.carouse-grid .course-grid-box .course-holder .info-on-hover {position: absolute;bottom: 0;left: 0;right: 0;color: #fff;text-align: center;padding-top: 15px;padding-bottom: 15px;background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.8)),to(transparent));background: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 100%);border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
.carouse-grid .course-grid-box .course-holder .info-on-hover .course-title {-webkit-transform: translateY(20px);transform: translateY(20px);-webkit-transition: -webkit-transform .3s ease;transition: -webkit-transform .3s ease;transition: transform .3s ease;transition: transform .3s ease,-webkit-transform .3s ease;margin-bottom: 5px;font-weight: 500;font-size: 18px;}
.carouse-grid .course-grid-box .course-holder .info-on-hover .course-price {display: block;position: relative;color: #ffb606;opacity: 0;-webkit-transform: translateY(50px);transform: translateY(50px);-webkit-transition: all .3s ease;transition: all .3s ease;}
.carouse-grid .course-grid-box .course-holder .info-on-hover .course-price .origin-price {font-size: 13px;font-style: italic;text-decoration: line-through;}
.course-filter {text-align: center;margin-bottom: 50px;}
.course-filter div {display: inline-block;margin: 0 15px;cursor: pointer;padding-bottom: 3px;border-bottom: 1px solid transparent;}
.course-filter div.mixitup-control-active, .course-filter div:hover {color: #ffb606;border-bottom-color: #ffb606;}
.course-grid-layout2 > .col-md-3 {padding-left: 2px;padding-right: 2px;padding-bottom: 4px;}
.course-grid-layout2 .intro-item {position: relative;z-index: 99;-webkit-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);-khtml-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);-moz-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);-ms-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);-o-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.15);}
.course-grid-layout2 .intro-item:before {background: #ffb606;content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;-webkit-transform: scale(1.06,1.05);-moz-transform: scale(1.06,1.05);-ms-transform: scale(1.06,1.05);-o-transform: scale(1.06,1.05);z-index: -1;}
.course-grid-layout2 .intro-item .all-course {position: absolute;top: 50%;padding-left: 30px;color: #fff;-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-o-transform: translate(0,-50%);}
.course-grid-layout2 .intro-item .all-course h3 {margin-bottom: .6em;}
.course-grid-layout2 .intro-item .all-course a {display: inline-block;font-size: 14px;letter-spacing: .3px;text-transform: uppercase;padding: 11px 28px 9px 29px;background-color: #fff;font-weight: 400;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.08);}
.course-grid-layout2 .intro-item .all-course a:hover {-webkit-box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);-khtml-box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);-moz-box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);-ms-box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);-o-box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);box-shadow: 4.5px 5.4px 10px 0 rgba(0,0,0,.06);color: #ffb606;}
.course-grid-layout2 .course-item {position: relative;}
.course-grid-layout2 .course-item .course-holder {position: relative;padding-bottom: 100%;background-color: #495057;overflow: hidden;border-radius: 0;-webkit-transition: all .3s ease;transition: all .3s ease;}
.course-grid-layout2 .course-item .course-holder:hover .course-bg {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);opacity: .7;}
.course-grid-layout2 .course-item .course-holder .course-holder-inner {position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 20;}
.course-grid-layout2 .course-item .course-holder .course_link {position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 20;}
.course-grid-layout2 .course-item .course-holder .course-bg {height: 100%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;display: block;background-size: cover;background-repeat: no-repeat;background-position: center;width: calc(100% + 40px);max-width: none;min-height: 100.6%;-webkit-transition: opacity .3s ease,-webkit-transform .3s ease;transition: opacity .3s ease,-webkit-transform .3s ease;transition: opacity .3s ease,transform .3s ease;transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;-webkit-transform: translate3d(-30px,0,0);transform: translate3d(-30px,0,0);}
.course-grid-layout2 .course-item .course-holder .info-on-hover {position: absolute;bottom: 0;left: 0;right: 0;color: #fff;text-align: center;padding-top: 15px;padding-bottom: 15px;background: rgba(0,0,0,.37);}
.course-grid-layout2 .course-item .course-holder .info-on-hover h4 {font-size: 15px;}
.course-grid-layout2 .course-item .course-holder .info-on-hover .price {color: #fff;font-size: 18px;font-weight: 600;}
.course-grid-layout2 .course-item .course-holder .info-on-hover .origin-price {font-size: 13px;font-style: italic;text-decoration: line-through;}
.recent-post-carousel .post-item {color: #555;}
.recent-post-carousel .post-item .post-thumbnail {margin-bottom: 20px;}
.recent-post-carousel .post-item .post-thumbnail a:hover img {opacity: .7;}
.recent-post-carousel .post-item .entry-title {font-family: "Montserrat",sans-serif;font-size: 16px;font-weight: 700;line-height: 28px;margin: 10px 0;}
.recent-post-carousel .post-item .entry-title a {color: #555;}
.recent-post-carousel .post-item .entry-title a:hover {color: #ffb606;}
.recent-post-carousel .post-item .recent-news-meta {border-top: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;padding: 5px 0 6px;margin-bottom: 15px;color: #555;}
.recent-post-carousel .post-item .recent-news-meta span {margin-right: 10px;font-size: 13px;}
.recent-post-carousel .post-item .recent-news-meta span i {color: #ffb606;margin-right: 5px;}
.recent-post-carousel .post-item p {font-size: 14px;}
.recent-post-carousel .post-item .btn-readmore {border: 1px solid #bbb;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;color: #555;line-height: 1.25;padding-left: 15px;padding-right: 15px;text-transform: uppercase;font-size: 13px;}
.recent-post-carousel .post-item .btn-readmore:hover {color: #ffb606;border-color: #ffb606;}